body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;
}
button1 {
    background-color: darkgoldenrod;
}
button2 {
    background-color: lightcyan;
}
button1:hover {
    background-color: yellow;
}