html {
    background-size: cover;
}
head {
    background-size: cover;
}
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;
    background-size: inherit;   
}
.container1 {
    background-color: rgb(109, 126, 110);
    background-size: 100%,30%;
}
.button1 {
    background-color: orange;
    color: rgb(255, 255, 255);
}