html {
    background-size: cover;
}
head {
    background-size: cover;
}
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;
    background-size: inherit;   
}
.container1 {
    background-color: rgb(109, 126, 110);
    width: 100%;
    height: 30%;
    position: absolute;
    top: 0;
}
.button1 {
    background-color: orange;
    color: rgb(255, 255, 255);
    width: 100px;
    height: 30px;
}